<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:hardwareAccelerated="true"
        android:icon="${icon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="src.comitton.dialog.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="android.max_aspect"
            android:value="3.0" />

        <activity
            android:name="src.comitton.fileview.FileSelectActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:exported="true"
            android:label="@string/app_launch_name"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="comittonxx" />
            </intent-filter>
            <intent-filter
                android:label="@string/app_name"
                android:scheme="http"
                tools:ignore="AppLinkUrlError">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <!-- for image viewer -->
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/webp" />
                <data android:mimeType="image/avif" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/jxl" />
                <!-- for text viewer -->
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="src.comitton.imageview.ImageActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat"></activity>
        <activity
            android:name="src.comitton.textview.TextActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat"></activity>
        <activity
            android:name="src.comitton.expandview.ExpandActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize|screenLayout"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat"></activity>
        <activity
            android:name="src.comitton.helpview.HelpActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat"></activity>
        <activity
            android:name="src.comitton.webview.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat"></activity>
        <activity
            android:name="src.comitton.cropimageview.CropImageActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyAppCompat"></activity>
        <activity
            android:name="src.comitton.config.SetConfigActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetFileListActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetRecorderActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetFileColorActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetImageActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetImageDetailActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetTextActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetEpubActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetImageTextDetailActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetImageTextColorActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetNoiseActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetCacheActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetCommonActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetCustomUrlSchemeActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetServerMessageBlockActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetHardwareSelectKeyActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetHardwareImageViewerKeyActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetHardwareTextViewerKeyActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetHardwareFileListKeyActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetMarginCutActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetBookShelfActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.BookShelfFileSelectActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetCornerEndImageViewerActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetCornerEndTextViewerActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetSortActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name="src.comitton.config.SetWebViewActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/MyTheme"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="true"
            android:writePermission="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>